/**
 * Root Styles
 */

:root {
  --waveYTranslate: 75%;
  --waveDuration: 15s;
  --waveX25Percent: -750px;
  --waveX50Percent: -1500px;
  --waveX75Percent: -2250px;
  --project-card-width: 224px;
  --project-ani-dur: 22000ms;
  --project-ani-dist: 0;
  --project-ani-del: 5000ms;
  --employee-card-width: 128px;
  --employee-card-height: 224px;
  --employee-ani-dist: 0;
  --employee-ani-dur: 24000ms;
  --employee-ani-del: 6250ms;
}

html {
  overflow-x: hidden !important;
}

body {
  color: #f1f1f1;
  background-color: #262626;
  font-family: "area-normal", sans-serif;
  margin: 0;
  width: 100vw;
  overflow-x: hidden !important;
  padding: 0;
  box-sizing: border-box;
  min-height: 3500px;
  transition: background-color .5s ease-out;
}

main {
  min-height: 70vh;


}

/**
 * Type Styles
 */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "area-normal", "area-normal", sans-serif;
  color: #023AC6;
  font-weight: 900;
}

.text-white {
  color: #ffffff;
}

.extended {
  font-family: "area-normal", "area-normal", sans-serif;
}

.normal {
  font-family: "area-normal", sans-serif;
}

.brand {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.readable-width {
  max-width: 600px;
}

.text-small {
  font-size: 0.875em;
}

.text-medium {
  font-size: 1.25em;
  line-height: 1.5;
}

.text-large {
  font-size: 1.5em;
}

.case-study hr {
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  height: 2px;
}

.header-level-one {
  font-size: 18px !important;
}

/* MAIN STYLES */

.animated {
  animation-play-state: running;
}

/* --------------------- HERO STYLES --------------------- */

#hero {
  height: 100vh;
  width: 100vw;
}


#hero-head {
  height: 100vh;
}

.hero-h1 {
  font-size: 2.5em;
  color: transparent;
  -webkit-text-stroke: 1px #f1f1f1;
  max-width: 85%;
}

#move-text-wrap {
  text-align: left;
  position: absolute;
  transform: translateX(12%);
  bottom: -50px;
}

#move-text {
  --font-size: .8rem;
  font-size: var(--font-size);
  display: inline-block;
  transform: translateX(5px);
}

.move-text {
  font-size: .8rem;
  font-weight: 700;
  display: inline-block;
}

#move-text .move-char {
  width: 20px;
  display: inline-block;
  text-align: center;
  font-weight: 700;
}

#move-text .move-char.space-char {
  color: transparent;
  user-select: none;
}

#move-text-2 {
  position: absolute;
  top: 50%;
  left: 30px;
  --font-size: .8rem;
  font-size: var(--font-size);
  display: inline-block;
  font-weight: 700;
  transform: translateY(-50%) translateX(5px);
}

#move-text-2 .move-char {
  width: 20px;
  display: inline-block;
  text-align: center;
  font-weight: 700;
}

.star-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#star-canvas {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  opacity: 0;
  transition: opacity 4s ease-in-out, transform 4s ease-out;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#star-canvas-perform {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -5;
  opacity: 1;
  clip-path: inset(100%);
  visibility: visible;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.section {
  z-index: 2 !important;
  position: relative;
}

#progress-slider {
  position: fixed;
  right: 5%;
  z-index: 100;
  width: 35px;
  height: 250px;
  top: 50%;
  transform: translateY(-50%);
}


/* --------------------- WHAT WE DO SECTION STYLES  --------------------- */

.consistent-overlay {
  position: fixed;
  background-color: rgb(10,22,38);
  opacity: 0;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 3;
  transition: opacity .5s, background-color .5s;
  left: 0;
  pointer-events: none;
}

.story-body-text {
  font-size: 16px;
  margin: auto;
  width: 90%;
}
.story-body {
  padding-right: 1rem;
}

#what-we-do {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: rgba(38,38,38,0);
  transition: background-color .75s ease-in;
  transition-delay: .75s;
}

.what-we-do-cont {
  width: 100vw;
  height: 120vh;
  top: 0;
  z-index: 999;
  position: sticky;
}

#what-we-do-row {
  position: absolute;
  width: 100%;
}

.what-we-do-body {
  max-width: 90vw;
  padding-left: 1rem;

}

/* Customize AOS transition */
.service-aos > [data-aos="fade-left"] {
  transform: translateX(100%) !important;
  opacity: 0 !important;
  &.aos-animate {
    transform: translateX(0) !important;
    opacity: 1 !important;
  }
}

.section-head {
  font-size: 3.5rem;
  color: transparent;
  -webkit-text-stroke: 1px #f1f1f1;
  text-align: center;
  transform: translateY(-100px);
  opacity: 0;
  transition: transform .5s ease-out, opacity .5s ease-out;
}

.section-head-underline {
  font-size: 3.5rem;
  color: transparent;
  -webkit-text-stroke: 1px #f1f1f1;
  text-align: center;
}

.underline {
  text-decoration: #4DB3FF 2px underline;
  text-underline-offset: 10px;
}

.service-wrap {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}
.service-col {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;

}
.service {
  display: flex;
  padding: .5rem .75rem;
  gap: .25rem;
  align-items: flex-end;
  border-radius: 10px;

}
.service > h6 {
  text-wrap: nowrap;
  font-weight: 500;
  color: white;
  margin: 0;
}



/* --------------------- FOR THE UNIVERSITY SECTION STYLES  --------------------- */


.for-uni-stat-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.for-uni-stat {
  margin-top: 0;
  position: absolute;
  text-align: center;
  max-width: 250px;
  transition: transform 0.65s ease-in-out;
}

#stat-head {
  font-size: 50px;
  color: #4DB3FF;
  margin: 0;
}

#stat-span {
  display: inline-block;
  font-size: 14px;
}

.for-uni-stat-circle {
  position: relative;
  max-width: 250px;
  width: 250px;
  height: 250px;
}

.svg-wrapper {
  will-change: transform;
  transition: transform 1.5s ease-in-out;
  width: fit-content;
  height: fit-content;
  position: absolute;
}


#for-uni {
  height: 100vh;
  width: 100vw;
  position: relative;
  margin-top: 10rem;
}

.project-row-wrapper {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 2;
  width: 100vw;
  opacity: 0;
  top: 50%;

}

#for-uni-aos > [data-aos="fade-left"] {
  transform: translateX(75%) !important;
  opacity: 0 !important;
  &.aos-animate {
    transform: translateX(0) !important;
    opacity: 1 !important;
  }
}

.projects-row {
  width: 100vw;
  height: 11rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  z-index: 2;
  position: relative;
  align-items: center;
}
#row-2 {
  transform: translateX(-100%);
}

.project-wrapper-abs {
  width: min-content;
  will-change: transform;
  height: min-content;
  transition: opacity .5s;
  position: absolute;
  left: 0;
  border-radius: 15px;
  top: 0;
}

.project-wrapper {
  position: relative;
  display: flex;
  width: var(--project-card-width);
  height: 9rem;
  border-radius: 15px;
  transform-origin: bottom;
  box-shadow: #37494b61 0 0 11px 3px;
}


/* --------------------- BY THE UNIVERSITY SECTION STYLES  --------------------- */


.team-container {
  position: sticky;
  height: 100vh;
  display: flex;
  top: 0;
  flex-direction: column;
  justify-content: space-evenly;
}


.cta-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.display-none {
  display: none !important;
}

.employee-card-border {
  width: var(--employee-card-width);
  height: var(--employee-card-height);
  border-radius: 20px;
  left: 0;
  top: 0;
  transform: translateX(-20px) translateY(-20px);
  opacity: 1;
  z-index: -1;
  position: absolute;
  border: 2px solid #f1f1f1;

  pointer-events: none;
}

.employee-card-wrap {
  width: min-content;
  height: min-content;
  position: absolute;
  left: 50%;
  opacity: 1;
  top: 0;
  transition: opacity .5s;
  transform: translateX(-50%);
  overflow: visible;
  will-change: transform;
}

.main-employee-card {
  width: var(--employee-card-width);
  height: var(--employee-card-height);
  position: relative;
  padding: 0;
  rotate: 180deg;
  border-radius: 20px;
  z-index: 1;
}

.cta-btn-text {
  margin: 0;
  color: #f1f1f1;
  font-size: 18px;
  font-weight: 600;
}


.project-row {
  display: flex;
  transition: transform .05s;
  position: absolute;

  transform: rotate(-20deg);
}

.project-row > .project-card {
  opacity: .35;
}



.project-wrapper-border {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  left: 0;
  top: 0;
  transform: translateX(-20px) translateY(-20px);
  transition: opacity .5s ease, transform .75s ease-out;
  opacity: 1;
  position: absolute;
  border: 2px solid #f1f1f1;

  z-index: -2;
  pointer-events: none;
}


.for-uni-container {
  height: 100vh;
  width: 100vw;
  top: 0;
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}



/* ------------------------------------ TEAM SECTION  ------------------------------------ */

#team {
  height: 100vh;
  width: 100vw;
  position: relative;
  margin-top: 10rem;
}

.team-col-wrapper-fixed {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 50%;
  left: 0;
  transition: transform 1s ease-in, opacity 1s;
  transform: translateY(85%);
  opacity: 0;
}

.team-col-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  gap: 50vw;
  display: flex;
  justify-content: center;
}

.team-col {
  width: calc(var(--employee-card-width) + 40px);
  position: relative;
  height: 100vh;
  z-index: 2;

}

#col-right {
  transform-origin: bottom;
  transform: rotate(180deg);
}

.footer-index {
  transform: translateY(100px);
  opacity: 0;
  transition: transform .5s ease-out, opacity .5s ease-out;
}


/* ------------------------------------ MEDIA QUERIES  ------------------------------------ */
@media(min-width: 350px) {
  .cta-btn-text {
    font-size: large;
  }
  .move-text {
    font-size: 1rem;
  }
  #move-text-wrap {
    transform: translateX(0);
  }
  #move-text {
    --font-size: 1rem;

  }
  #move-text-2 {
    --font-size: 1rem;
    font-weight: 800;
    left: 35px;
  }
}


@media(min-width: 576px) {

  .hero-h1 {
    font-size: 3em;
    max-width: 85%;
  }

  #move-text-wrap {
    transform: translateX(20%);
  }
  #move-text {
    --font-size: 1.2rem;
  }
  .move-text {
    font-size: 1.2rem;
    font-weight: 800;
  }
  #move-text .move-char {
    font-weight: 800;
  }
  #move-text-2 {
    --font-size: 1.2rem;
    font-weight: 800;
    left: 40px;
  }
  #move-text-2 .move-char {
    font-weight: 800;
  }

  /* STORY */
  .story-body {
    max-width: 80vw;
  }
  .story-body-text {
    font-size: 18px;
  }
  .story-container {
    height: 100vh;
  }
  .mobile-break {
    display: none;
  }
  .section-head-underline {
    color: #f1f1f1;
    font-size: xx-large;
    letter-spacing: 5px;
    font-weight: 500;
    margin-bottom: 1rem;
    width: fit-content;
  }

  .projects-row {
    height: 13rem;
  }
  #row-3 {
    display: none;
  }

  :root {
    --employee-card-width: 160px;
    --employee-card-height: 256px;
  }
}

@media(min-width: 768px) {
  .what-we-do-body {
    padding-left: 2rem;
  }
  .story-body {
    padding-right: 2rem;
  }

  html {
    overflow-x: auto;
  }

  .hero-h1 {
    font-size: 4rem;
    -webkit-text-stroke: 2px #f1f1f1;
  }

  #move-text-wrap {
    transform: translateX(9%);
    bottom: -20px;
  }


  .story-body-text {
    font-size: 20px;
  }

  .projects-row {
    height: 15rem;
  }
  .project-wrapper {
    height: 10rem;
  }
  .cta-btn-text {
    font-size: xx-large;
  }


  :root {
    --project-card-width: 256px;
    --employee-card-width: 192px;
    --employee-card-height: 288px;
  }
}

@media(min-width: 992px) {
  .what-we-do-body {
    padding-left: 3rem;
  }
  .hero-h1 {
    font-size: 4.5em;
  }

  #move-text {
    --font-size: 1.6rem;
    font-size: var(--font-size);
    transform: translateX(10px);
  }
  #move-text-2 {
    --font-size: 1.6rem;
    font-size: var(--font-size);
    left: 50px;
    transform: translateY(-50%) translateX(10px);
  }
  .move-text {
    font-size: 1.6rem
  }

  .story-body {
    max-width: unset;
    padding-right: 3rem;
  }
  .for-uni-stat {
    margin-top: 1rem;
  }
  .for-uni-stat-circle {
    width: 350px;
    height: 350px;
    max-width: 350px;
  }

  #stat-head {
    font-size: 70px;
  }
  #stat-span {
    font-size: 18px;
  }


  .project-wrapper {
    height: 11rem;
  }
  :root {
    --project-card-width: 288px;
    --employee-card-width: 224px;
    --employee-card-height: 320px;
  }
}

@media (min-width: 1200px) {
  .what-we-do-body {
    padding-left: 6rem;
  }
  .story-body {
    padding-right: 4rem;
  }
  .hero-h1 {
    font-size: 5.5em;
    max-width: 800px;
  }
  #move-text-wrap {
    transform: translateX(3px);
  }
  :root {
    --waveDuration: 7s;
  }
  .story-body-text {
    font-size: 20px;
  }
  .for-uni-stat-circle {
    width: 400px;
    height: 400px;
    max-width: 400px;
  }

  :root {
    --employee-card-width: 256px;
    --employee-card-height: 352px;
  }
}


@media(min-width: 1400px) {

  .what-we-do-body {
    padding-left: 10rem;
  }
  .story-body {
    padding-right: 6rem;
  }
  .for-uni-stat-circle {
    max-width: 450px;
    width: 450px;
    height: 450px;
  }

  .project-wrapper {
    height: 12rem;
  }
  :root {
    --project-card-width: 320px;
  }
}

@media(min-width: 1550px) {

  .hero-head-col {
    padding-left: 3rem !important;
  }

  :root {
    --employee-card-height: 384px;
    --employee-card-width: 288px;
  }



  .project-card {
    width: 15rem;
  }
}

@media(min-width: 1700px) {
  .hero-h1 {
    font-size: 6rem;
  }

  .project-wrapper {
    height: 13rem;
  }
  :root {
    --project-card-width: 352px;
  }
}
