:root {
    --student-ani-dur: 0ms;
    --student-ani-dist: 0px;
    --student-ani-del: 0;
    --student-row-margin: 30px;
    --student-ani-startX: 0px;
    --student-ani-Y: 0px;
    --student-ani-delay: 0s;
}

body {
    color: #f1f1f1;
    background-color: #262626;
    font-family: "area-normal", sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    transition: background-color .01s linear;
}

/* CONSISTENT SUBPAGE STYLING */

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: "area-normal", "area-normal", sans-serif;
    color: #023AC6;
    font-weight: 900;
}

.text-small {
    font-size: 0.875em;
}

.text-medium {
    font-size: 1.25em;
    line-height: 1.5;
}

.text-large {
    font-size: 1.5em;
}

#hero {
    height: 100vh;
}

.hero-h1 {
    font-size: 2.5em;
    line-height: 140%;
    color: transparent;
    -webkit-text-stroke: 1px #f1f1f1;
}


/* TEAM PAGE SPECIFIC STYLING */

#carousel-wrap > [data-aos="fade-left"] {
    transform: translateX(100%) scale(.7);
    &.aos-animate {
        transform: translateX(0);
    }
}

#brian-kell-aos > [data-aos="slide-right"] {
    transform: translateX(-200%);
    &.aos-animate {
        transform: translateX(0);
    }
}


.team-card {
    width: 20rem;
    height: 24rem;
    border-radius: 25px;
    position: relative;
    background: url("../img/i3/people/jonathan.jpg") no-repeat center;
    display: flex;
    justify-content: start;
}
.team-card > h5, .team-card > h6 {
    color: maroon;
}

#team-card-1 {
    transform: translateX(-8rem) scale(.6);
    z-index: 2;
}
#team-card-2 {
    transform: translateX(0rem) scale(1);
    z-index: 4;
}
#team-card-3 {
    transform: translateX(8rem) scale(.6);
    z-index: 1;
}

.team-overlay {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%);
    color: white;
    opacity: 1;
    z-index: 10;
}

.carousel-wrapper {
    display: flex;
    margin-top: 20vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem
}

.team-card-wrapper {
    perspective: 1200px;
    perspective-origin: center;
    transition: transform .5s ease-in-out;
    transform-origin: 50% 75%   ;
    position: absolute;
    --start-rem: -17.3205rem;
    --end-rem: 0rem;
}
.team-card-container {
    height: 14rem;
    width: 10rem;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 2s linear, width .5s ease-in-out, height .5s ease-in-out;
    border-radius: 20px;
}
.team-card-container.flip {
    transform: rotateX(180deg);
}
.team-card-container .card-face {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    backface-visibility: hidden;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.team-card-container .card-front {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
    text-align: start;
    padding: 7px 15px;
    transform: rotateX(180deg);
    background: url("../img/i3/people/jonathan.jpg") no-repeat center / cover;
    box-shadow: inset rgb(170 170 170 / 65%) 0 0 10px 6px;

}
.team-card-container .card-back {
    box-shadow: inset rgba(241, 241, 241, 0.6) 0 0 10px 2px;
    background: url("../img/i3/i3-symbol-fill.svg") no-repeat center 40%;
    background-size: 60%;
    width: 100%;
    height: 100%;
}

.team-text-wrapper {
    position: absolute;
    top: -80px;
    right: 0;
    transition: opacity 1s;
}
.rotate-text-hidden {
    transition-delay: 1s !important;
    opacity: 0 !important;
}

.team-name {
    rotate: 180deg;
    color: white;
    font-size: medium;
    padding-left: 6px;
}
.team-title {
    rotate: 180deg;
    color: white;
    font-size: small;
    padding-left: 6px;
}

.team-track {
    width: 32.5rem;
    z-index: 3;
    transform: translateY(-75px);
    transition: width .5s ease-in-out, transform .5s ease-in-out;
}

.card-circle {
    width: 5rem;
    position: absolute;
    left: 50%;
    transform: translateY(-83px) translateX(-50%)
}


.left2center-arc {
    animation: left2center-arc 2s ease-in forwards;
}

@keyframes left2center-arc {
    0%   { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0)) scale(0.6); }
    1%   { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * -0.01187)) scale(0.604); }
    2%   { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * -0.023302)) scale(0.608); }
    3%   { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * -0.034277)) scale(0.612); }
    4%   { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * -0.044802)) scale(0.616); }
    5%   { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * -0.054871)) scale(0.62); }
    6%   { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * -0.064479)) scale(0.624); }
    7%   { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * -0.073612)) scale(0.628); }
    8%   { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * -0.082278)) scale(0.632); }
    9%   { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * -0.090471)) scale(0.636); }
    10%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * -0.098184)) scale(0.64); }
    11%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * -0.105418)) scale(0.644); }
    12%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * -0.112168)) scale(0.648); }
    13%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * -0.118426)) scale(0.652); }
    14%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * -0.124194)) scale(0.656); }
    15%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * -0.129471)) scale(0.66); }
    16%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * -0.134246)) scale(0.664); }
    17%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * -0.138529)) scale(0.668); }
    18%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * -0.142311)) scale(0.672); }
    19%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * -0.145596)) scale(0.676); }
    20%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * -0.148373)) scale(0.68); }
    21%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * -0.150654)) scale(0.684); }
    22%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * -0.152421)) scale(0.688); }
    23%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * -0.153691)) scale(0.692); }
    24%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * -0.154447)) scale(0.696); }
    25%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * -0.154701)) scale(0.7); }
    26%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * -0.154447)) scale(0.704); }
    27%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * -0.153691)) scale(0.708); }
    28%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * -0.152421)) scale(0.712); }
    29%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * -0.150654)) scale(0.716); }
    30%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * -0.148373)) scale(0.72); }
    31%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * -0.145596)) scale(0.724); }
    32%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * -0.142311)) scale(0.728); }
    33%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * -0.138529)) scale(0.732); }
    34%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * -0.134246)) scale(0.736); }
    35%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * -0.129471)) scale(0.74); }
    36%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * -0.124194)) scale(0.744); }
    37%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * -0.118426)) scale(0.748); }
    38%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * -0.112168)) scale(0.752); }
    39%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * -0.105418)) scale(0.756); }
    40%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * -0.098184)) scale(0.76); }
    41%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * -0.090471)) scale(0.764); }
    42%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * -0.082278)) scale(0.768); }
    43%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * -0.073612)) scale(0.772); }
    44%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * -0.064479)) scale(0.776); }
    45%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * -0.054871)) scale(0.78); }
    46%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * -0.044802)) scale(0.784); }
    47%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * -0.034277)) scale(0.788); }
    48%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * -0.023302)) scale(0.792); }
    49%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * -0.01187)) scale(0.796); }
    50%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0)) scale(0.8); }
    51%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.012309)) scale(0.804); }
    52%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.025051)) scale(0.808); }
    53%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.038226)) scale(0.812); }
    54%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.051817)) scale(0.816); }
    55%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.06583)) scale(0.820); }
    56%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.080246)) scale(0.824); }
    57%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.095067)) scale(0.828); }
    58%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.110285)) scale(0.832); }
    59%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.125897)) scale(0.836); }
    60%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.14189)) scale(0.840); }
    61%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.158258)) scale(0.844); }
    62%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.174995)) scale(0.848); }
    63%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.192096)) scale(0.852); }
    64%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.209555)) scale(0.856); }
    65%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.227355)) scale(0.860); }
    66%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.245495)) scale(0.864); }
    67%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.263965)) scale(0.868); }
    68%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.282757)) scale(0.872); }
    69%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.301868)) scale(0.876); }
    70%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.321284)) scale(0.880); }
    71%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.340995)) scale(0.884); }
    72%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.361)) scale(0.888); }
    73%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.381282)) scale(0.892); }
    74%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.401836)) scale(0.896); }
    75%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.422649)) scale(0.900); }
    76%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.443717)) scale(0.904); }
    77%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.465033)) scale(0.908); }
    78%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.486579)) scale(0.912); }
    79%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.508351)) scale(0.916); }
    80%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.530343)) scale(0.920); }
    81%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.552536)) scale(0.924); }
    82%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.574926)) scale(0.928); }
    83%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.597506)) scale(0.932); }
    84%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.620259)) scale(0.936); }
    85%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.64318)) scale(0.940); }
    86%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.666257)) scale(0.944); }
    87%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.689478)) scale(0.948); }
    88%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.712837)) scale(0.952); }
    89%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.736324)) scale(0.956); }
    90%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.759926)) scale(0.960); }
    91%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.783632)) scale(0.964); }
    92%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.807431)) scale(0.968); }
    93%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.831315)) scale(0.972); }
    94%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.855276)) scale(0.976); }
    95%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.879299)) scale(0.980); }
    96%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.903375)) scale(0.984); }
    97%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.927496)) scale(0.988); }
    98%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.951647)) scale(0.992); }
    99%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.975821)) scale(0.996); }
    100% { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 1)) scale(1.000); }
}


.center2right-arc {
    animation: center2right-arc 2s ease-in forwards;
}

@keyframes center2right-arc {
    0%   { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0)) scale(1.000); }
    1%   { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.024179)) scale(0.996); }
    2%   { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.048353)) scale(0.992); }
    3%   { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.072504)) scale(0.988); }
    4%   { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.096625)) scale(0.984); }
    5%   { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.120701)) scale(0.980); }
    6%   { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.144724)) scale(0.976); }
    7%   { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.168685)) scale(0.972); }
    8%   { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.192569)) scale(0.968); }
    9%   { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.216368)) scale(0.964); }
    10%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.240074)) scale(0.960); }
    11%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.263676)) scale(0.956); }
    12%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.287163)) scale(0.952); }
    13%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.310522)) scale(0.948); }
    14%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.333743)) scale(0.944); }
    15%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.35682)) scale(0.940); }
    16%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.379741)) scale(0.936); }
    17%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.402494)) scale(0.932); }
    18%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.425074)) scale(0.928); }
    19%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.447464)) scale(0.924); }
    20%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.469657)) scale(0.920); }
    21%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.491649)) scale(0.916); }
    22%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.513421)) scale(0.912); }
    23%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.534967)) scale(0.908); }
    24%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.556283)) scale(0.904); }
    25%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.577351)) scale(0.900); }
    26%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.598164)) scale(0.896); }
    27%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.618718)) scale(0.892); }
    28%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.639)) scale(0.888); }
    29%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.659005)) scale(0.884); }
    30%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.678716)) scale(0.880); }
    31%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.698132)) scale(0.876); }
    32%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.717243)) scale(0.872); }
    33%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.736035)) scale(0.868); }
    34%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.754505)) scale(0.864); }
    35%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.772645)) scale(0.860); }
    36%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.790445)) scale(0.856); }
    37%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.807904)) scale(0.852); }
    38%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.825005)) scale(0.848); }
    39%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.841742)) scale(0.844); }
    40%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.85811)) scale(0.840); }
    41%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.874103)) scale(0.836); }
    42%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.889715)) scale(0.832); }
    43%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.904933)) scale(0.828); }
    44%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.919754)) scale(0.824); }
    45%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.93417)) scale(0.820); }
    46%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.948183)) scale(0.816); }
    47%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.961774)) scale(0.812); }
    48%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.974949)) scale(0.808); }
    49%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 0.987691)) scale(0.804); }
    50%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 1)) scale(0.800); }
    51%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 1.01187)) scale(0.796); }
    52%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 1.023302)) scale(0.792); }
    53%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 1.034277)) scale(0.788); }
    54%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 1.044802)) scale(0.784); }
    55%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 1.054871)) scale(0.780); }
    56%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 1.064479)) scale(0.776); }
    57%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 1.073612)) scale(0.772); }
    58%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 1.082278)) scale(0.768); }
    59%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 1.090471)) scale(0.764); }
    60%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 1.098184)) scale(0.760); }
    61%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 1.105418)) scale(0.756); }
    62%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 1.112168)) scale(0.752); }
    63%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 1.118426)) scale(0.748); }
    64%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 1.124194)) scale(0.744); }
    65%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 1.129471)) scale(0.740); }
    66%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 1.134246)) scale(0.736); }
    67%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 1.138529)) scale(0.732); }
    68%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 1.142311)) scale(0.728); }
    69%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 1.145596)) scale(0.724); }
    70%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 1.148373)) scale(0.720); }
    71%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 1.150654)) scale(0.716); }
    72%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 1.152421)) scale(0.712); }
    73%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 1.153691)) scale(0.708); }
    74%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 1.154447)) scale(0.704); }
    75%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 1.154701)) scale(0.700); }
    76%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 1.154447)) scale(0.696); }
    77%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 1.153691)) scale(0.692); }
    78%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 1.152421)) scale(0.688); }
    79%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 1.150654)) scale(0.684); }
    80%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 1.148373)) scale(0.680); }
    81%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 1.145596)) scale(0.676); }
    82%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 1.142311)) scale(0.672); }
    83%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 1.138529)) scale(0.668); }
    84%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 1.134246)) scale(0.664); }
    85%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 1.129471)) scale(0.660); }
    86%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 1.124194)) scale(0.656); }
    87%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 1.118426)) scale(0.652); }
    88%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 1.112168)) scale(0.648); }
    89%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 1.105418)) scale(0.644); }
    90%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 1.098184)) scale(0.640); }
    91%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 1.090471)) scale(0.636); }
    92%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 1.082278)) scale(0.632); }
    93%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 1.073612)) scale(0.628); }
    94%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 1.064479)) scale(0.624); }
    95%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 1.054871)) scale(0.620); }
    96%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 1.044802)) scale(0.616); }
    97%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 1.034277)) scale(0.612); }
    98%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 1.023302)) scale(0.608); }
    99%  { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 1.01187)) scale(0.604); }
    100% { transform: translateX(calc(var(--start-rem) + (var(--end-rem) - var(--start-rem)) * 1)) scale(0.600); }
}

.right2left-arc {
    animation: right2left-arc 2s ease-in forwards;
}

@keyframes right2left-arc {
    0% { transform: translateX(var(--start-rem)) scale(0.6)}
    25% { transform: translateX(calc(var(--start-rem) / 2)) scale(0.45)}
    75% { transform: translateX(calc(var(--end-rem) / 2)) scale(0.45)}
    100% { transform: translateX(var(--end-rem)) scale(0.6)}
}

.team-section-head {
    font-size: xx-large;
    text-align: center;
    color: #f1f1f1;
}
.team-section-desc {
    font-size: large;
    text-align: center;
    max-width: 700px;
}

.underline {
    text-decoration: #4DB3FF 2px underline;
    text-underline-offset: 10px;
}

.section-bg-aos {
    position: absolute;
    top: 55%;
    width: 100%;
    height: 110%;
    right: 0;
    transform: translateY(-50%);
    z-index: -1;
}

#senior-dev-bg {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(38,38,38,.5) 0%, rgba(0,40,57,.5) 33%, rgba(0,40,57,.5) 66%, rgba(38,38,38,.5) 100%);
}

#faculty-adv-bg {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(38,38,38,.5) 0%, rgba(42,31,86,.5) 33%, rgba(42,31,86,.5) 66%, rgba(38,38,38,.5) 100%);
}




#senior-devs {
    /**/
}

#faculty-advisors {
}

#joel-salis {
    --gradient-start: rgba(7,51,51,.7);
    --gradient-end: rgba(7,51,51,0);
    --img-pos: right;
}
#joel-salis-aos {
    width: fit-content;
    height: fit-content;
}
#joel-salis-aos > [data-aos="slide-right"] {
    transform: translateX(-300%);
    &.aos-animate {
        transform: translateX(0);
    }
}

#brian-kell {
    --gradient-start: rgba(0,0,0,.7);
    --gradient-end: rgba(0,0,0,0);
    --img-pos: center;
}
#brian-kell-aos {
    width: fit-content;
    height: fit-content;
}
#brian-kell-aos > [data-aos="slide-right"] {
    transform: translateX(-325%);
    &.aos-animate {
        transform: translateX(0);
    }
}

#natalie-lacr {
    --gradient-start: rgba(48,10,49,.7);
    --gradient-end: rgba(48,10,49,0);
    --img-pos: center;
}
#natalie-lacr-aos {
    width: fit-content;
    height: fit-content;
}
#natalie-lacr-aos > [data-aos="slide-left"] {
    transform: translateX(300%);
    &.aos-animate {
        transform: translateX(0);
    }
}
#jeff-winst-aos {
    width: fit-content;
    height: fit-content;
}
#jeff-winst-aos > [data-aos="slide-left"] {
    transform: translateX(325%);
    &.aos-animate {
        transform: translateX(0);
    }
}

#jeff-winst {
    --gradient-start: rgba(51,37,7,.7);
    --gradient-end:  rgba(51,37,7,0);
    --img-pos: center;
}
#brian-daley {
    --gradient-start: rgba(7,14,51,.7);
    --gradient-end: rgba(7,14,51,0);
    --img-pos: center;
}

#brian-daley-aos {
    width: fit-content;
    height: fit-content;
}
#brian-daley-aos > [data-aos="slide-right"] {
    transform: translateX(-325%);
    &.aos-animate {
        transform: translateX(0);
    }
}

#mike-vert {
    --gradient-start: rgba(51,31,7,.7);
    --gradient-end: rgba(51,31,7,0);
    --img-pos: right
}
#mike-vert-aos {
    width: fit-content;
    height: fit-content;
}
#mike-vert-aos > [data-aos="slide-left"] {
    transform: translateX(300%);
    &.aos-animate {
        transform: translateX(0);
    }
}

.linked-in {
    opacity: 0;
    transition: opacity .5s, transform .5s;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 4;
    transform: translateX(-50%) translateY(-50%);
}

.linked-in-wrap {
    width: 50px;
    opacity: 0;
    transition: opacity .5s;
    height: 50px;
    position: absolute;
    z-index: 3;
    bottom: 1rem;
    right: 1rem;
    border-radius: 25px;
    background-color: rgba(0,0,0,.7);
    pointer-events: none;

}

.team-card-main {
    width: 18rem;
    height: 22rem;
    position: relative;
    padding: 0;
    box-shadow: rgba(241, 241, 241, .35) 0px 0px 9px;
    border-radius: 25px;
}
.team-card-main:hover .team-card-main-hover {
    opacity: .5;
}
.team-card-main:hover .linked-in-wrap {
    opacity: 1;
    pointer-events: all;
}
.team-card-main:hover .linked-in {
    opacity: 1;
}
.team-card-main:hover .team-name-main {
    color: dimgray;
}
.team-card-main:hover .team-title-main {
    color: dimgray;
}
.linked-in:hover {
    transform: translateX(-50%) translateY(-50%) scale(1.15);
}


.team-card-main-gradient {
    background: linear-gradient(to top, var(--gradient-start) 0%, var(--gradient-end) 70%);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    opacity: 1;
    transition: opacity .5s;
    border-radius: 25px;
}
.team-card-main-hover {
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    z-index: 2;
    transition: opacity .5s;
    border-radius: 25px;
}

.display-none {
    display: none !important;
}

.team-card-main-img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-position: var(--img-pos);
    display: block;
    object-fit: cover;
    transform: rotate(180deg);
    border-radius: 25px;
}

.team-card-text-wrap {
    position: absolute;
    bottom: 0;
    left: 15px;
    z-index: 3;
}
.team-title-main {
    color: #f1f1f1;
    font-weight: 600;
    transition: color .5s;
}
.team-name-main {
    color: #f1f1f1;
    font-weight: 600;
    transition: color .5s;
}


#students {
    overflow: hidden;
}

.students-row {
    width: 100vw;
    position: relative;
    height: 24rem;
    gap: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.team-card-main-wrap {
    width: min-content;
    height: min-content;
    position: absolute;
    transition: opacity .5s, transform .5s ease-in-out;
    perspective: 1200px;
    perspective-origin: center;
    transform-origin: center;
}



.team-card-main {
    width: 288px;
    height: 352px;
    position: relative;
    padding: 0;
    transform-style: preserve-3d;
    transition: transform .75s ease-out;
    transform: rotateX(-180deg);
}
.student-tag {
    color: #f1f1f1;
    font-weight: 600;
    transition: color .5s;
    padding: .35rem .75rem .25rem .75rem;
    border-radius: 1rem;
    border: 1px #f1f1f1 solid;
    margin-bottom: 0;
}
.student-tag-wrapper {
    display: flex;
    justify-content: flex-start;
    gap: .5rem;
    margin-bottom: .75rem;
    margin-top: .25rem;
}

.team-card-main .team-card-main-face {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    backface-visibility: hidden;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.team-card-main .team-card-main-front {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
    text-align: start;
    transform: rotateX(180deg);
    box-shadow: rgba(241, 241, 241, .35) 0px 0px 9px;
    border-radius: 25px;
}
.team-card-main .team-card-main-back {
    box-shadow: inset rgba(241, 241, 241, 0.6) 0 0 10px 2px;
    width: 100%;
    height: 100%;
}
.team-card-bio {
    margin-bottom: auto;
    padding: 1.25rem;
}



.student-ani {
    animation-name: student-ani;
    animation-duration: var(--student-ani-dur);
    animation-timing-function: linear;
    animation-delay: var(--student-ani-del);
    animation-fill-mode: none;
}

@keyframes student-ani {
    0%{transform: translateX(0)}
    100%{transform: translateX(var(--student-ani-dist))}
}

.student-ani-return {
    animation-name: student-ani-return;
    animation-duration: var(--student-ani-dur);
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@keyframes student-ani-return {
    0%{transform: translateX(var(--student-ani-dist))}
    100%{transform: translateX(0)}
}


/* PROJECT PAGE SPECIFIC STYLING */

#project-list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 100vw;
}
.sort-head {
    font-size: xx-large;
    color: #f1f1f1;
    text-align: center;
    margin-bottom: 2rem;
}
.project-sort-wrap {
    display: flex;
    border: grey 2px solid;
    box-shadow: inset rgba(241, 241, 241, .1) 0 4px 20px 0px;;
    border-radius: 25px;
    max-width: 90vw;
    margin: 1rem auto 1rem auto;
    flex-direction: row;
    opacity: 0;
    padding: 2rem 0;
    transition: max-height .5s ease-in, opacity.5s ease-in;
    max-height: 0;
}
.project-sort-wrap.expand {
    max-height: 50vh;
    opacity: 1;
}

.project-sort {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 40%;
    text-align: center;
}
.project-sort-title {
    color: #f1f1f1;
    font-size: x-large;
    width: 100%;
}
.project-sort-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 70%;
    gap: .75em;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
}
.project-sort-select {
    border-radius: .75rem;
    padding: .25rem 1rem;
    margin: 0;
    background: #bdc8df;
    white-space: nowrap;
    border: none;
    outline: 1px solid grey;
    box-shadow: #00000085 1px 3px 3px 1px;
    font-weight: 600;
    transition: outline-color .25s, background-color .25s, box-shadow .25s, color .25s;
}

.selected {
    background-color: #0236da;
    color: #f1f1f1;
    outline-color: darkblue;
    box-shadow: inset #051d91 2px 2px 2px 0px;
}
.project-list {
    border: gray 2px solid;
    display: flex;
    height: fit-content;
    border-radius: 25px;
    padding: .75rem;
    max-width: 97%;
    gap: .75rem;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    box-shadow: inset rgba(241, 241, 241, .1) 0 4px 20px 0px;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    transition: height .5s;
    min-height: 300px;
}

.project-view-select {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.project-view-selector {
    color: #f1f1f1;
    font-size: x-large;
    margin: 0;
}
.project-view-toggler {
    width: 7rem;
    height: 3rem;
    margin: 0 1rem;
    align-content: center;
    padding: 0 .25rem;
    border-radius: 2rem;
    transition: background .5s ease-in;
    border: 2px solid #f1f1f1;
    box-shadow: inset rgba(241, 241, 241, .1) 0 0px 10px 2px;
}

.toggler-hover-selected:hover {
}

.toggler-hover-selected:hover > .toggler-circle {
}

.project-view-toggler:hover {
    cursor: pointer;
}

.toggler-hover-unselect:hover {}

.toggler-hover-unselect:hover > .toggler-circle {
    }

.toggler-circle {
    transform: translateX(0);
    transition: transform .5s ease-in, fill .5s;
}

.projects-container {
    display: flex;
    height: 100%;
    width: 100vw;
    overflow-y: auto;

    position: relative;
    align-self: flex-start;
}

.sort-sidebar {
    position: absolute;
    top: 0;
    flex-shrink: 0;
    z-index: 2;
    pointer-events: none;
    right: 0;
    width: 19rem;
    height: 100%;
}

.sort-sidebar-toggle {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: transform .75s ease-in-out;
    transform: translateX(14rem) translateY(0);
    z-index: 5;
    top: -8rem;
    pointer-events: all;
    width: fit-content;

}
.sort-sidebar-toggle > h5 {
    color: #f1f1f1;
    font-size: x-large;
    font-weight: 700;
}
.sidebar-toggle-btn-rotate {
    transform: rotateY(180deg) scale(1.1)  !important;
}

.sort-sidebar-tags-wrap {
    display: flex;
    width: fit-content;
    height: fit-content;
    gap: 1rem;
    margin-top: 1.5rem;
    align-items: flex-end;
    flex-direction: column;

}

.sort-sidebar-inner {
    pointer-events: all;
    position: absolute;
    display: flex;
    width: 19rem;
    right: 0;
    border: 2px grey solid;
    padding-bottom: 1rem;
    padding-right: 1.25rem;
    gap: 1rem;
    height: fit-content;
    border-radius: 1.5rem 0 0 1.5rem;
    flex-direction: column;
    box-shadow: inset rgba(241, 241, 241, .1) 0 4px 20px 0px, rgb(0 0 0 / 37%) 6px 10px 14px 5px;
    top: 0;
    background: linear-gradient(to right, rgb(29 29 29 / 84%), #8f8f8f63);
    align-items: flex-end;
    transition: transform 1s ease-in-out;
    transform: translateX(100%);
}
.sort-sidebar-inner > h5 {
    color: white;
    font-size:x-large;
    margin-bottom: auto;
    font-weight: 700;
    padding-top: 1.25rem;
}


.sort-ui-ux-wrapper {
    display: flex;
    gap: 1rem;
}

.sidebar-toggle-btn-wrapper {
    align-items: center;
    gap: 3%;
}
.sidebar-toggle-btn-circle {
    width: 3.75rem;
    height: 3.75rem;
    background: none;
    border: 2px rgba(241, 241, 241, 1) solid;
    transition: border .5s ease, background-color .5s ease;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar-toggle-btn {
    transition: transform 1s ease-in-out;
    transform: scale(1.1) rotate(0deg);
}
.sidebar-toggle-btn > line, .sidebar-toggle-btn > polyline {
    transition: stroke-width .5s ease, stroke .5s ease;
}

.arrow-btn-circle:hover {
    border: 2px rgba(241, 241, 241, .5) solid;
    background-color: rgba(241, 241, 241, .75);
    cursor: pointer;
}

.arrow-btn-circle:hover .sidebar-toggle-btn {
    transition: transform .5s ease-in;
    transform: translateX(5px) scale(1.25, 1.15);
}

.arrow-btn-circle:hover .sidebar-toggle-btn-rotate {
    transition: transform .5s ease-in !important;
    transform: translateX(-5px) rotateY(180deg) scale(1.25, 1.15) !important;
}

.arrow-btn-circle:hover .sidebar-toggle-btn > line,
.arrow-btn-circle:hover .sidebar-toggle-btn > polyline {
    stroke-width: 3px;
    stroke: #262626;
}

.sidebar-closed {

}
.sidebar-open {
    transition: transform 1s ease-in-out !important;
    transform: translateX(0) !important;
}
.sidebar-toggle-closed {

}
.sidebar-toggle-open {
    transition: transform .75s ease-in-out !important;
    transition-delay: .225s !important;
    transform: translateX(1rem) translateY(0) !important;
}



/* PROJECT OBJECT STYLES */

.project-wrapper,
.project-title,
.project-popup {
    will-change: opacity, transform;
}

.project-wrapper {
    display: flex;
    transition: opacity .25s ease-out, transform .5s ease-in-out;
    width: 17rem;
    max-width: 17rem;
    flex: 1 1 13rem;
    height: 9.5rem;
    margin: 0 !important;
    border-radius: 15px;
    box-shadow: #37494b61 0 0 11px 3px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.project-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(150%);
    color: #f1f1f1;
    opacity: 0;
    transition: opacity .5s ease-out, transform .75s ease-out;
    width: fit-content;
    text-align: center;

    z-index: 2;
    height: 3rem;
}

.project-popups-wrapper {
    display: none;
    position: fixed;
    width: 100vw;
    top: 50%;
    left: 50%;
    background-color: rgba(0,0,0,.25);
    z-index: 2;
    overflow: hidden;
    transform: translateX(-50%) translateY(-50%);
    height: 100vh;
}
.project-popup {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 85vw;
    top: 47%;
    left: 50%;
    padding: 1rem;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, .5) 0px 10px 12px 7px;
    border-radius: 1rem;
    transform: translateX(-50%) translateY(-50%);
    height: fit-content;
    background-color: #f1f1f1;
    border: 1px solid rgba(0,0,0,.5);
}
.project-popup-close {
    position: absolute;
    width: 2rem;
    right: 1rem;
    top: 0;
    opacity: .5;
    transition: opacity .25s;
}
.project-popup-close:hover {
    opacity: 1;
    cursor: pointer;
}
.project-popup-title {
    font-size: x-large;
}
.project-popup-img {
    width: 100%;
    margin: 0 auto;

}
.project-popup-info-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 2rem;
}

.project-popup-tag-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: .15rem;
}

.project-popup-tag {
    padding: 0.4rem .4rem .3rem .4rem;
    border-radius: 5px;
    background: #0236da;
    font-weight: 700;
    vertical-align: baseline;
    line-height: 1;
    font-size: small;
}
.project-popup-desc {
    color: black;
    padding: 1rem;
}
.project-popup-link {
    width: fit-content;
    padding: .5rem 1rem;
    background: #0236da;
    color: #f1f1f1;
    align-self: flex-end;
    font-size: medium;
    text-decoration: none;
}
.project-popup-link:hover {
    background: #0231a8;
}

.project-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 1;
    z-index: 1;
    pointer-events: none;
    transform: translateX(-50%) translateY(50%);
    transition: transform .75s ease-out;
    background-color: rgba(0,0,0,.75);
}
.project-wrapper:hover > .project-overlay {
    transform: translateX(-50%) translateY(-50%);
}
.project-wrapper:hover > .project-title {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%);
}
/* MEDIA QUERIES */

@media(min-width: 400px) {
    #team-card-1 {
        transform: translateX(-10rem) scale(.6);
    }
    #team-card-2 {
        transform: translateX(0) scale(1);
    }
    #team-card-3 {
        transform: translateX(10rem) scale(.6);
    }


    .project-wrapper {
        width: 20rem;
        height: 9.5rem;
    }
    .sort-sidebar {
        width: 24rem;
    }
    .sort-sidebar-inner {
        width: 24rem;
    }
    .sort-sidebar-toggle {
        transform: translateX(18.75rem) translateY(0);
    }
}

@media(min-width: 576px) {
    /* TEAM */
    .team-card-container {
        width: 10rem;
        height: 14rem;
    }
    .team-track {
        width: 26rem;
        transform: translateY(-67px);
    }
    #team-card-1 {
        transform: translateX(-12rem) scale(.6);
    }
    #team-card-2 {
        transform: translateX(0) scale(1);
    }
    #team-card-3 {
        transform: translateX(12rem) scale(.6);
    }
    .team-name {
        font-size: medium;
        padding-left: 6px;
    }
    .team-title {
        font-size: small;
        padding-left: 6px;
    }
    #faculty-adv-bg {
        height: 120%;
        transform: translateY(-115px);
    }

    .team-card-main {
        width: 14rem;
        height: 18rem;
    }
    .team-name-main {
        font-size: large;
    }
    .team-title-main {
        font-size: small;
    }
    .project-popup {
        width: 80vw;
    }

}

@media(min-width: 600px) {
    .project-wrapper {
        width: 16rem;
        height: 9.75rem;
    }
}

@media(min-width: 768px) {
    /* TYPEWRITER */
    .typewrite-static-text {
        font-size: 2rem;
    }
    .typewrite {
        font-size: 2rem;
    }
    .type-cursor {
        font-size: 2rem;
    }

    /* HERO */
    .hero-h1 {
        font-size: 3.5em;
        -webkit-text-stroke: 2px #f1f1f1;
    }

    /* TEAM */
    .team-card-container {
        width: 12rem;
        height: 16rem;
    }
    .team-track {
        width: 30.5rem;
        transform: translateY(-75px);
    }
    #team-card-1 {
        transform: translateX(-14rem) scale(.6);
    }
    #team-card-2 {
        transform: translateX(0) scale(1);
    }
    #team-card-3 {
        transform: translateX(14rem) scale(.6);
    }
    .team-name {
        font-size: large;
        padding-left: 4px;
    }
    .team-title {
        font-size: small;
        padding-left: 5px;
    }
    #faculty-adv-bg {
        height: 115%;
        transform: translateY(-70px);
    }
    .team-card-main {
        width: 18rem;
        height: 22rem;
    }
    .team-name-main {
        font-size: x-large;
    }
    .team-title-main {
        font-size: large;
    }
    .students-row {
        height: 22rem;
    }
    .team-card-main-student {
        width: 256px;
        height: 320px;
    }
    .project-wrapper {
        width: 17rem;
        height: 10.5rem;
        flex: 1 1 15rem;
        max-width: 22rem;
    }

}

@media(min-width: 875px) {
    .project-wrapper {
        flex: 1 1 16rem;
    }
}

@media(min-width: 992px) {
    /* HERO */
    .hero-h1 {
        font-size: 4.5em;
    }

    /* TEAM */
    .team-card-container {
        width: 14rem;
        height: 20rem;
    }
    .team-track {
        width: 35rem;
        transform: translateY(-80px);
    }
    #team-card-1 {
        transform: translateX(-16rem) scale(.6);
    }
    #team-card-2 {
        transform: translateX(0) scale(1);
    }
    #team-card-3 {
        transform: translateX(16rem) scale(.6);
    }
    .team-name {
        font-size: 22px;
        padding-left: 4px;
    }
    .team-title {
        font-size: 16px;
        padding-left: 5px;
    }
    .section-bg-aos {
        top: 50%;
        height: 120%;
        transform: translateY(-50%);
    }
    #faculty-adv-bg {
        height: 115%;
        transform: none;
    }

    .students-row {
        height: 24rem;
    }
    .team-card-main-student {
        width: 288px;
        height: 352px;
    }
    .projects-container {
        width: 90vw;
    }
    .project-wrapper {
        width: 17rem;
        height: 10.5rem;
        margin: .75rem;
    }
    .sort-sidebar-toggle {
        position: sticky;
        top: 9%;
        transform: translateX(19.25rem) translateY(8rem) scale(.9);
    }
    .sidebar-toggle-open {
        transform: translateX(1rem) translateY(8rem) !important;
    }
    .sort-sidebar-inner {
        position: sticky;
        top: 20%;
    }
    .project-popup {
        width: 60vw;
    }

}

@media screen and (min-width: 1130px) {
    .hero-header {
        font-size: 100px;
    }
    .display-header {
        font-size: 30px;
    }
}

@media (min-width: 1175px) {
    .project-wrapper {
        width: 15rem;
        flex: 1 1 15rem;
        height: 9rem;
        max-width: 16rem;
    }
}

@media (min-width: 1200px) {
    /* HERO */
    .hero-h1 {
        font-size: 5.5em;
        max-width: 450px;
    }

    /* TEAM */
    .team-card-container  {
        width: 17rem;
        height: 24rem;
    }
    .team-track {
        width: 49rem;
        transform: translateY(-85px);
    }
    #team-card-1 {
        transform: translateX(-16rem) scale(.6);
    }
    #team-card-2 {
        transform: translateX(0) scale(1);
    }
    #team-card-3 {
        transform: translateX(16rem) scale(.6);
    }
    .team-name {
        font-size: x-large;
    }
    .team-card-main {
        width: 16rem;
        height: 20rem;
        flex: 1 1 100%
    }

    .team-card-main-student {
        width: 256px;
        height: 320px;
    }
}

@media(min-width: 1325px) {
    .project-wrapper {
        flex: 1 1 17rem;
        width: 18rem;
        height: 11rem;
        max-width: 18rem;
    }
    .project-list {
        max-width: 100%;
    }
    .sort-sidebar-toggle {
        transform: translateX(19.15rem) translateY(8rem) scale(.9);
    }
}

@media(min-width: 1400px) {
    .team-card-main {
        width: 20rem;
        height: 24rem;
    }
    .team-card-main-student {
        width: 320px;
        height: 384px;
    }
    .project-popup {
        width: 40vw;
    }
    .project-wrapper {
        max-width: 20rem;
    }
    .sort-sidebar-toggle {
        transform: translateX(18.75rem) translateY(8rem);
    }
}

@media(min-width: 1550px) {
    .project-wrapper {
        max-width: 21rem;
    }
}

@media(min-width: 1650px) {

    .project-wrapper {
        width: 18rem;
        height: 11rem;
        flex: 1 1 18rem;
        max-width: 22rem;
    }
}

@media(min-width: 1800px) {
    .sort-sidebar-toggle {
        transform: translateX(16rem) translateY(8rem);
    }
}

