@import url('https://use.typekit.net/nct3yok.css');

@import url('vars.css');

body {
    font-family: "area-normal", sans-serif;
}

:root {
  --black: #111;
  --white: #ffffff;
  --blue: #0034DA;
}

.text-secondary {
    color: var(--secondary);
}

.bg-deep {
    background-color: var(--deep);
}
.bg-deep-gradient {
    background: var(--deep);
    background: linear-gradient(180deg, rgb(17, 17, 17) 0%, var(--deep) 50%, rgb(17, 17, 17) 100%);
}

.bg-deep-gradient-transparent{
        background: linear-gradient(180deg, var(--deep) 0%, var(--deep) 70%, rgba(17, 17, 17, 0) 100%);
}

.bg-deep-to-transparent {
    background: linear-gradient(0deg, var(--deep) 0%, rgba(36,50,80,0.5) 80%, rgba(36, 50, 80, 0) 100%);
}

.bg-lightblue {
    background-color: var(--light-blue);
}
.bg-lightblue-gradient {
    background: var(--light-blue);
    background: linear-gradient(180deg, rgb(17, 17, 17) 0%, var(--light-blue) 50%, rgb(17, 17, 17) 100%);
}


.bg-blue {
    background-color: #243250;
}

.bg-blue-gradient {
    background: #243250;
    background: linear-gradient(180deg, rgb(17, 17, 17) 0%, #243250 50%, rgb(17, 17, 17) 100%);
}

.bg-blue-gradient-transparent {
    background: linear-gradient(180deg, #243250 0%, #243250 60%, rgba(36, 50, 80, 0) 100%);
}

.bg-blue-to-transparent {
    background: linear-gradient(0deg, #243250 0%, rgba(36, 50, 80, 0) 100%);
}

.bg-dark-gradient {
    background: var(--dark);
    background: linear-gradient(180deg, rgb(17, 17, 17) 0%, var(--dark) 50%, rgb(17, 17, 17) 100%);
}

.bg-dark-gradient-transparent {
    background: linear-gradient(180deg, var(--dark) 0%, var(--dark) 60%, rgba(17, 17, 17, 0) 100%);
}



.bg-dark {
    background-color: var(--dark);
}

.bg-dark-to-transparent {
    background: linear-gradient(0deg, rgba(17, 17, 17, 1) 0%, rgba(17, 17, 17, 0.5) 80%, rgba(17, 17, 17, 0) 100%);
}

.bg-teal {
    background-color: var(--teal);
}
.bg-teal-gradient {
    background: var(--teal);
    background: linear-gradient(180deg, rgb(17, 17, 17) 0%, var(--teal) 50%, rgb(17, 17, 17) 100%);
}


.bg-purple {
    background-color: #280E3A;
}
.bg-purple-gradient {
    background: #280E3A;
    background: linear-gradient(180deg, rgb(17, 17, 17) 0%, #280E3A 50%, rgb(17, 17, 17) 100%);
}

.bg-light-gradient {
    background: var(--light);
    background: linear-gradient(180deg, rgb(17, 17, 17) 0%, var(--light) 10%, var(--light) 90%, rgb(17, 17, 17) 100%);
}

.bg-purple-to-transparent {
    background: linear-gradient(0deg, #280E3A 0%, rgba(36, 50, 80, 0) 100%);
}

.bg-dark-opaque {
    background: rgba(17, 17, 17, 0.5);
}

.bg-green-gradient {
    background: #043b18;
    background: linear-gradient(180deg, rgb(17, 17, 17) 0%, #043b18 50%, rgb(17, 17, 17) 100%);
}

.bg-green-to-transparent {
    background: linear-gradient(0deg, #043b18 0%, rgba(36, 50, 80, 0) 100%);
}

body, html {
    /* overflow-x:hidden; */
    background:#111;
}
main {
    overflow:hidden;
}

p {
    font-size: 16px;
    line-height: 1.6;
    color: #fff;
    margin-bottom: 1.2rem;
}

.project-card-bg {
    background: repeating-linear-gradient(120deg,
            #111 0px,
            #111 20px,
            #222 20px,
            #222 40px);
    opacity: 0.1;
    transform: rotate(-6deg) scale(1.1);
    pointer-events: none;
}

.card-img-top {
    object-fit: cover;
    height: 260px;
}

.card-title {
    font-size: 1.1rem;
}

.display-1,
.hero-heading {
    font-size: clamp(3rem, 8vw, 6rem);
    font-weight: 800;
    letter-spacing: -0.02em;
    line-height: 1.1;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
    font-size: 2.5em;
    color: transparent;
    -webkit-text-stroke: 1px #f1f1f1;
    /* max-width: 85%; */
}


.page-h1 {
    /* font-weight: 800;
    letter-spacing: -0.02em;
    line-height: 1.1;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);

    color: transparent;
    -webkit-text-stroke: 1px #f1f1f1;

    text-transform: uppercase;
    font-size: clamp(40px, 10vw, 108px); */


    mix-blend-mode: difference;
    z-index: 998;
    opacity:100%;
    font-size: clamp(40px, 10vw, 108px)!important;


    /* Optional: prevent text from wrapping or shrinking weirdly */
    white-space: nowrap;
    text-align: center;
    display: block;
    width: 100%;
    margin-top: 16px;
}
@media (min-width: 1520px) {
    .page-h1 {
        position: fixed;
        left: 20px;
        top: 50%;
        transform: rotate(-90deg) translateY(55%) translateX(-50%);
        transform-origin: left center;
        margin-top: 0px;
    }
    /* Can be used to offset content when header is fixed */
    .header-aware {
        padding-left: 14vw!important;
    }
}

.card-outline {
    position: absolute;
    top: -8px;
    left: -8px;
    width: 100%;
    height: 100%;
    border: 2px solid white;
    border-radius: 0.75rem;
    z-index: 0;
}

.card-content {
    background-color: #204950; /* your card bg */
    color: white;
    position: relative;
    z-index: 1;
}

#cookie-policy-wrapper p{
    color:#000;
}

/**
 * Phrase Animator Styles
 */
.phrase-animator-container {
    font-size: 2rem;
  /* font-family: monospace; */
  font-weight: bold;
  white-space: nowrap;
}

@media (max-width: 600px) {
    .phrase-animator-container {
        font-size: 1.2rem;
    }
}

.phrase-animator {
  display: inline-block;
  position: relative;
  min-width: 4ch; /* prevents jitter */
  vertical-align: baseline;
  margin-left: 4px;
  margin-right: 4px;
}
.phrase-animator-letter {
  display: inline-block;
  position: relative;
  opacity: 0;
}
.phrase-animator-word-0 {
  color: #4fc3f7; /* light blue */
}
.phrase-animator-word-1 {
color: #42a5f5; /* lighter blue */
}

h2 {
    font-family: 'area-normal', courier, 'Courier New', monospace;
    color: #f1f1f1;
    font-size: x-large;
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

h3 {
    font-size: 1.75rem;
    font-weight: 600;
    color: #fff;
    margin-bottom: 1rem;
}

h2.border-accent,
.heading-underline {
    display: inline-block;
    border-bottom: 3px solid $primary;
    padding-bottom: 0.25em;
}


.cta-wrap {
    position: absolute;
    bottom:40px;
}

.hero-section {
    background-color: #111;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    min-height: 80vh;
    height: 80vh;
}

.hero-title, .page-h1 {
    font-size: clamp(2rem, 12vh, 110px);
    /* font-size: 12vh; */
    font-weight: 900;
    line-height: 1.1;
    color: transparent;
    -webkit-text-stroke: 2px white;
    text-stroke: 2px white;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-family: area-normal, sans-serif;
}



@media (max-width: 1000px) {
    .hero-title {
        font-size: clamp(1rem, 10vw, 6rem);
        -webkit-text-stroke: 1.5px white;
        text-stroke: 1.5px white;
    }
}

/* @media (max-width: 600px) {
    .hero-title {
        font-size: clamp(1.5rem, 7vw, 2.8rem);
        -webkit-text-stroke: 1px white;
        text-stroke: 1px white;
    }
} */

h6 {
    font-weight: 600;
    font-size: 1rem;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
}

p.small {
    font-size: 0.75rem;
    letter-spacing: 0.01em;
}


.map-wrapper {
    background-color: #1f1f1f;
    padding: 1rem;
}

#what-we-do {
    color: #fff!important;
    min-height: 100vh;
    display: flex;
    align-items: center;
}



/*UCONN BANNER*/
#wordmark,
#university-of-connecticut,
#super-title {
    text-rendering: geometricPrecision;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

#uconn-banner article,
#uconn-banner aside,
#uconn-banner details,
#uconn-banner figcaption,
#uconn-banner figure,
#uconn-banner footer,
#uconn-banner header,
#uconn-banner hgroup,
#uconn-banner nav,
#uconn-banner section,
#uconn-banner summary {
    display: block
}

#uconn-banner audio,
#uconn-banner canvas,
#uconn-banner video {
    display: inline-block
}

#uconn-banner audio:not([controls]) {
    display: none;
    height: 0
}

#uconn-banner [hidden],
#uconn-banner template {
    display: none
}

#uconn-banner html {
    background: #fff;
    color: #000;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

#uconn-banner html,
#uconn-banner button,
#uconn-banner input,
#uconn-banner select,
#uconn-banner textarea {
    font-family: sans-serif
}

#uconn-banner body {
    margin: 0
}

#uconn-banner a {
    background: transparent
}

#uconn-banner a:focus {
    outline: thin dotted
}

#uconn-banner a:hover,
#uconn-banner a:active {
    outline: 0
}

#uconn-banner h1 {
    font-size: 2em;
    margin: 0.67em 0
}

#uconn-banner h2 {
    font-size: 1.5em;
    margin: 0.83em 0
}

#uconn-banner h3 {
    font-size: 1.17em;
    margin: 1em 0
}

#uconn-banner h4 {
    font-size: 1em;
    margin: 1.33em 0
}

#uconn-banner h5 {
    font-size: .83em;
    margin: 1.67em 0
}

#uconn-banner h6 {
    font-size: .75em;
    margin: 2.33em 0
}

#uconn-banner abbr[title] {
    border-bottom: 1px dotted
}

#uconn-banner b,
#uconn-banner strong {
    font-weight: bold
}

#uconn-banner dfn {
    font-style: italic
}

#uconn-banner mark {
    background: #ff0;
    color: #000
}

#uconn-banner code,
#uconn-banner kbd,
#uconn-banner pre,
#uconn-banner samp {
    font-family: monospace, serif;
    font-size: 1em
}

#uconn-banner pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word
}

#uconn-banner q {
    quotes: "\201C" "\201D" "\2018" "\2019"
}

#uconn-banner q:before,
#uconn-banner q:after {
    content: '';
    content: none
}

#uconn-banner small {
    font-size: 80%
}

#uconn-banner sub,
#uconn-banner sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

#uconn-banner sup {
    top: -0.5em
}

#uconn-banner sub {
    bottom: -0.25em
}

#uconn-banner img {
    border: 0
}

#uconn-banner svg:not(:root) {
    overflow: hidden
}

#uconn-banner figure {
    margin: 0
}

#uconn-banner fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em
}

#uconn-banner legend {
    border: 0;
    padding: 0;
    white-space: normal
}

#uconn-banner button,
#uconn-banner input,
#uconn-banner select,
#uconn-banner textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    vertical-align: baseline
}

#uconn-banner button,
#uconn-banner input {
    line-height: normal
}

#uconn-banner button,
#uconn-banner select {
    text-transform: none
}

#uconn-banner button,
#uconn-banner html input[type="button"],
#uconn-banner input[type="reset"],
#uconn-banner input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

#uconn-banner button[disabled],
#uconn-banner input[disabled] {
    cursor: default
}

#uconn-banner input[type="checkbox"],
#uconn-banner input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

#uconn-banner input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

#uconn-banner input[type="search"]::-webkit-search-cancel-button,
#uconn-banner input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

#uconn-banner button::-moz-focus-inner,
#uconn-banner input::-moz-focus-inner {
    border: 0;
    padding: 0
}

#uconn-banner textarea {
    overflow: auto;
    vertical-align: top
}

#uconn-banner table {
    border-collapse: collapse;
    border-spacing: 0
}

#uconn-banner a:link,
#uconn-banner a:hover,
#uconn-banner a:visited {
    text-decoration: none;
    line-height: 1.176;
}

@font-face {
    font-family: "UConn";
    src: url("https://uconn.edu/shared/fonts/uconn/uconn.eot");
    src: url("https://uconn.edu/shared/fonts/uconn/uconn.eot?#iefix") format("embedded-opentype"), url("https://uconn.edu/shared/fonts/uconn/uconn.svg#uconnregular") format("svg"), url("https://uconn.edu/shared/fonts/uconn/uconn.woff") format("woff"), url("https://uconn.edu/shared/fonts/uconn/uconn.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "Proxima Nova";
    src: url("https://uconn.edu/shared/fonts/proximanova_bold_macroman/ProximaNova-Bold-webfont.eot");
    src: url("https://uconn.edu/shared/fonts/proximanova_bold_macroman/ProximaNova-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("https://uconn.edu/shared/fonts/proximanova_bold_macroman/ProximaNova-Bold-webfont.svg#proxima_nova_ltsemibold") format("svg"), url("https://uconn.edu/shared/fonts/proximanova_bold_macroman/ProximaNova-Bold-webfont.woff") format("woff"), url("https://uconn.edu/shared/fonts/proximanova_bold_macroman/ProximaNova-Bold-webfont.ttf") format("truetype");
    font-weight: bold;
    font-style: normal
}

@font-face {
    font-family: "Proxima Nova";
    src: url("https://uconn.edu/shared/fonts/proximanova_bolditalic_macroman/ProximaNova-BoldIt-webfont.eot");
    src: url("https://uconn.edu/shared/fonts/proximanova_bolditalic_macroman/ProximaNova-BoldIt-webfont.eot?#iefix") format("embedded-opentype"), url("https://uconn.edu/shared/fonts/proximanova_bolditalic_macroman/ProximaNova-BoldIt-webfont.svg#proxima_novabold_italic") format("svg"), url("https://uconn.edu/shared/fonts/proximanova_bolditalic_macroman/ProximaNova-BoldIt-webfont.woff") format("woff"), url("https://uconn.edu/shared/fonts/proximanova_bolditalic_macroman/ProximaNova-BoldIt-webfont.ttf") format("truetype");
    font-weight: bold;
    font-style: italic
}

@font-face {
    font-family: "Proxima Nova";
    src: url("https://uconn.edu/shared/fonts/proximanova_semibold_macroman/ProximaNova-Sbold-webfont.eot");
    src: url("https://uconn.edu/shared/fonts/proximanova_semibold_macroman/ProximaNova-Sbold-webfont.eot?#iefix") format("embedded-opentype"), url("https://uconn.edu/shared/fonts/proximanova_semibold_macroman/ProximaNova-Sbold-webfont.svg#proxima_nova_ltsemibold") format("svg"), url("https://uconn.edu/shared/fonts/proximanova_semibold_macroman/ProximaNova-Sbold-webfont.woff") format("woff"), url("https://uconn.edu/shared/fonts/proximanova_semibold_macroman/ProximaNova-Sbold-webfont.ttf") format("truetype");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: "Proxima Nova";
    src: url("https://uconn.edu/shared/fonts/proximanova_regular_macroman/ProximaNova-Reg-webfont.eot");
    src: url("https://uconn.edu/shared/fonts/proximanova_regular_macroman/ProximaNova-Reg-webfont.eot?#iefix") format("embedded-opentype"), url("https://uconn.edu/shared/fonts/proximanova_regular_macroman/ProximaNova-Reg-webfont.svg#proxima_nova_rgregular") format("svg"), url("https://uconn.edu/shared/fonts/proximanova_regular_macroman/ProximaNova-Reg-webfont.woff") format("woff"), url("https://uconn.edu/shared/fonts/proximanova_regular_macroman/ProximaNova-Reg-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "Proxima Nova";
    src: url("https://uconn.edu/shared/fonts/proximanova_italic_macroman/ProximaNova-RegIt-webfont.eot");
    src: url("https://uconn.edu/shared/fonts/proximanova_italic_macroman/ProximaNova-RegIt-webfont.eot?#iefix") format("embedded-opentype"), url("https://uconn.edu/shared/fonts/proximanova_italic_macroman/ProximaNova-RegIt-webfont.svg#proxima_novaregular_italic") format("svg"), url("https://uconn.edu/shared/fonts/proximanova_italic_macroman/ProximaNova-RegIt-webfont.woff") format("woff"), url("https://uconn.edu/shared/fonts/proximanova_italic_macroman/ProximaNova-RegIt-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: italic
}

#uconn-banner .banner-icon {
    fill: white;
    height: 100%;
    pointer-events: none
}

#uconn-banner .white .banner-icon {
    fill: #000E2F
}

#uconn-banner .row-container {
    width: 100%;
    margin: 0px auto;
    box-sizing: border-box;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}

@media(max-width:800px) {
    #uconn-banner .row-container {
        padding-left: 1em !important;
        padding-right: 0.3em !important;
    }
}

#uconn-banner .row-fluid {
    width: 100%;
    display: table
}

#uconn-banner .row-fluid>div {
    display: table-cell;
    vertical-align: inherit;
    float: none
}

@media screen and (min-width: 50em) {
    #uconn-banner .row-fluid>div {
        vertical-align: middle
    }
}

#home-link-container {
    width: 60%
}

#uconn-header-container {
    background-color: #000E2F;
    color: #fff
}

#uconn-header-container .btn {
    color: #c1e8f8
}

#uconn-header-container.white {
    background-color: #fff
}

#home-link {
    height: 20px;
    overflow: hidden
}

#home-link:hover {
    text-decoration: none;
    color: #eee
}

#home-link span {
    margin: auto 0;
    vertical-align: middle
}

#site-header {
    padding: 30px 0 15px 0
}

#site-header .row-fluid>div {
    width: 50%
}

#university-of-connecticut {
    font-family: "Proxima Nova", Arial, Helvetica, sans-serif;
    color: #9faab2;
    font-size: 18px;
    letter-spacing: .055em;
    word-spacing: .02em;
    font-weight: bold;
    font-style: normal;
    line-height: normal;
    display:inline;
    text-transform: uppercase;
    position: absolute;
    left:-20000px;
 }

#site-abbreviation {
    font-family: "Proxima Nova", Arial, Helvetica, sans-serif;
    color: #9faab2;
    font-size: 18px;
    letter-spacing: .055em;
    word-spacing: .02em;
    font-weight: bold;
    font-style: normal;
    line-height: normal;
    display: none;
    text-transform: uppercase;
}

#wordmark {
    color: #fff;
    font-family: "UConn", Arial, Helvetica, sans-serif;
    font-size: 32px;
    overflow: hidden;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 0px 5px 0 0
}

#university-of-connecticut {
    border-left: 2px solid #3f4760;
    color: #9faab2;
    padding: 1px 0 0 10px
}

@media (min-width: 768px) {
    #university-of-connecticut {
        display: inline;
         position: relative;
         left:0px;
    }
}

/* Keeps HEALTH in the mobile banner */
.health #university-of-connecticut {
    display: inline;
     position: relative;
     left:0px;
}


#site-abbreviation {
    border: 0;
    display: block;
    line-height: 1;
    padding: 0 0 9px 0
}

@media screen and (min-width: 768px) {
    #site-abbreviation {
        display: none
    }
}

.white #wordmark,
.white #university-of-connecticut,
.white #site-abbreviation {
    color: #000E2F
}

#uconn-banner #button-container,
#uconn-banner.alternative #button-container {
    text-align: right;
    position: relative
}

#uconn-banner #button-container>.icon-container {
    width: 32px;
    height: 32px;
    display: inline-block;
    margin: 0px 2px;
    padding: 0px;
    vertical-align: middle;
    white-space: nowrap
}

#uconn-banner #button-container .btn {
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    padding: inherit;
    text-shadow: none;
    line-height: normal
}

#uconn-banner #button-container .btn [class*="icon-"] {
    line-height: 32px
}

#uconn-banner #uconn-search:hover+div:not(.popup-container),
#uconn-banner #uconn-search:focus+div:not(.popup-container),
#uconn-banner #uconn-az:hover+div:not(.popup-container),
#uconn-banner #uconn-az:focus+div:not(.popup-container) {
    background-color: #ededed;
    border-top: 1px solid #ededed;
    color: #000e2f;
    padding: 12px 16px;
    position: absolute;
    top: 46px;
    transition: opacity 0.3s ease-in-out;
    z-index: 1000
}

#uconn-banner #uconn-search:hover+div:not(.popup-container):before,
#uconn-banner #uconn-search:focus+div:not(.popup-container):before,
#uconn-banner #uconn-az:hover+div:not(.popup-container):before,
#uconn-banner #uconn-az:focus+div:not(.popup-container):before {
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: bold
}

#uconn-banner #uconn-search:hover+div:not(.popup-container):after,
#uconn-banner #uconn-search:focus+div:not(.popup-container):after,
#uconn-banner #uconn-az:hover+div:not(.popup-container):after,
#uconn-banner #uconn-az:focus+div:not(.popup-container):after {
    border-color: transparent #ededed transparent transparent;
    border-style: solid;
    border-width: 10px 8px 10px 0px;
    bottom:43px;
    content: '';
    position: absolute;
    transform: rotate(90deg)
}

#uconn-banner #uconn-search,
#uconn-banner #uconn-az,
#uconn-banner.alternative #button-container #uconn-search,
#uconn-banner.alternative #button-container #uconn-az {
    position: relative
}

#uconn-banner #uconn-search:before,
#uconn-banner #uconn-az:before,
#uconn-banner.alternative #button-container #uconn-search:before,
#uconn-banner.alternative #button-container #uconn-az:before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    box-shadow: inset 0 2px 0 0 white;
    transition: opacity 0.3s ease-in-out;
    opacity: 0
}

#uconn-banner #uconn-search:hover:before,
#uconn-banner #uconn-az:hover:before,
#uconn-banner.alternative #button-container #uconn-search:hover:before,
#uconn-banner.alternative #button-container #uconn-az:hover:before,
#uconn-banner #uconn-search:focus:before,
#uconn-banner #uconn-az:focus:before,
#uconn-banner.alternative #button-container #uconn-search:focus:before,
#uconn-banner.alternative #button-container #uconn-az:focus:before {
    opacity: 1
}

#uconn-banner .no-css {
    left: -99999px;
    position: absolute
}

#uconn-banner #button-container .icon-container>div {
    opacity: 0;
    visibility: hidden
}

#uconn-banner #uconn-search:before,
#uconn-banner #uconn-az:before {
    bottom: 30px
}

#uconn-banner #uconn-search:hover+div:not(.popup-container),
#uconn-banner #uconn-search:focus+div:not(.popup-container),
#uconn-banner #uconn-az:hover+div:not(.popup-container),
#uconn-banner #uconn-az:focus+div:not(.popup-container) {
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
    visibility: visible
}

#uconn-banner #uconn-search-tooltip {
    right: -14px
}

#uconn-banner #uconn-search-tooltip:before {
    content: ''
}

#uconn-banner #uconn-search-tooltip:after {
    right: 25px
}

#uconn-banner #uconn-az-tooltip {
    right: -9px
}

#uconn-banner #uconn-az-tooltip:before {
    content: ''
}

#uconn-banner #uconn-az-tooltip:after {
    right: 22px
}

#uconn-banner #uconn-search:hover+#uconn-search-tooltip:before,
#uconn-banner #uconn-search:focus+#uconn-search-tooltip:before,
#uconn-banner #uconn-az:hover+#uconn-search-tooltip:before,
#uconn-banner #uconn-az:focus+#uconn-search-tooltip:before {
    content: 'Search UConn'
}

#uconn-banner #uconn-search:hover+#uconn-az-tooltip:before,
#uconn-banner #uconn-search:focus+#uconn-az-tooltip:before,
#uconn-banner #uconn-az:hover+#uconn-az-tooltip:before,
#uconn-banner #uconn-az:focus+#uconn-az-tooltip:before {
    content: 'UConn A to Z Index'
}

#uconn-banner.alternative #button-container button {
    background-color: #000E2F
}

#uconn-banner.alternative #button-container .icon-container {
    position: relative
}

#uconn-banner.alternative #button-container .popup-container {
    position: absolute;
    right: -6px;
    top: 46px
}

#uconn-banner.alternative #button-container .icon-container>div,
#uconn-banner.alternative #button-container .icon-container div {
    opacity: 1;
    visibility: visible
}

#uconn-banner.alternative #button-container #uconn-search:before,
#uconn-banner.alternative #button-container #uconn-az:before {
    /*top: 30px*/
}

#uconn-banner.alternative #banner-mobile-button[aria-expanded="false"] .menu-toggle-open {
    display: inline-block
}

#uconn-banner.alternative #banner-mobile-button[aria-expanded="false"] .menu-toggle-close {
    display: none
}

#uconn-banner.alternative #banner-mobile-button[aria-expanded="true"] .menu-toggle-open {
    display: none
}

#uconn-banner.alternative #banner-mobile-button[aria-expanded="true"] .menu-toggle-close {
    display: inline-block
}

#uconn-banner.alternative.no-js .icon-container:focus-within div {
    display: block
}

@media screen and (min-width: 768px) {
    #uconn-banner.alternative #icon-container-mobile-menu {
        display: none
    }
}

#uconn-banner .white #button-container #banner-mobile-button,
#uconn-banner.alternative .white #button-container #banner-mobile-button {
    background-color: #ffffff
}

#uconn-banner .white #button-container #uconn-search,
#uconn-banner .white #button-container #uconn-az,
#uconn-banner.alternative .white #button-container #uconn-search,
#uconn-banner.alternative .white #button-container #uconn-az {
    background-color: #ffffff
}

#uconn-banner .white #button-container #uconn-search:hover:before,
#uconn-banner .white #button-container #uconn-search:focus:before,
#uconn-banner .white #button-container #uconn-az:hover:before,
#uconn-banner .white #button-container #uconn-az:focus:before,
#uconn-banner.alternative .white #button-container #uconn-search:hover:before,
#uconn-banner.alternative .white #button-container #uconn-search:focus:before,
#uconn-banner.alternative .white #button-container #uconn-az:hover:before,
#uconn-banner.alternative .white #button-container #uconn-az:focus:before {
    box-shadow: inset 0 2px 0 0 #000e2f
}

#super-title {
    font-size: 13px;
    margin: 0 !important;
    padding: 0
}

#super-title a:link,
#super-title a:visited {
    color: #868695;
    font-family: "Proxima Nova", Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 5px
}

#search-container {
    text-align: right
}

#search-container #button-container .btn-primary {
    background: #e9e9e9
}

#site-search {
    margin: 0px
}

.popup-container:before {
    content: '';
    background-color: transparent;
    border-color: transparent #546688 transparent transparent;
    border-style: solid;
    border-width: 10px 8px 10px 0px;
    display: block;
    position: absolute;
    right: 18px;
    top: -14px;
    transform: rotateZ(90deg)
}

.popup-container {
    background-color: #546688;
    display: none;
    line-height: 0
}

.popup-container hr {
    border-top: 1px solid #6f84a9;
    margin: 0
}

.popup-container.banner-popup-active {
    display: block
}

#a-z-popup .form-wrapper form,
#search-popup .form-wrapper form {
    color: #000E2F;
    position: relative
}

#a-z-popup .form-wrapper input,
#search-popup .form-wrapper input {
    border: 0;
    border-radius: 0;
    color: #000E2F;
    font-size: 14px;
    margin: 16px 20px;
    padding: 8px 60px 6px 6px;
    -webkit-appearance: none
}

#a-z-popup .form-wrapper input::placeholder,
#search-popup .form-wrapper input::placeholder {
    color: #000E2F;
    opacity: 1
}

#a-z-popup .form-wrapper button,
#search-popup .form-wrapper button {
    border: 0;
    background-color: transparent !important;
    height: 100%;
    position: absolute;
    right: 18px
}

#a-z-popup .form-wrapper svg,
#search-popup .form-wrapper svg {
    fill: #000E2F
}

#a-z-popup .link-wrapper a,
#search-popup .link-wrapper a {
    color: white;
    display: inline-block;
    position: relative;
    text-align: center;
    width: 100%
}

#a-z-popup .link-wrapper a:hover,
#a-z-popup .link-wrapper a:focus,
#search-popup .link-wrapper a:hover,
#search-popup .link-wrapper a:focus {
    background-color: #2e3d5b;
    color: #ffffff
}

#a-z-popup .search-link-wrapper a,
#search-popup .search-link-wrapper a {
    padding: 26px 10px 26px 26px
}

#a-z-popup .search-link-wrapper .banner-search-text,
#search-popup .search-link-wrapper .banner-search-text {
    display: inline-block
}

#a-z-popup .search-link-wrapper .banner-search-icon,
#search-popup .search-link-wrapper .banner-search-icon {
    position: absolute;
    right: 10px;
    top: 8px
}

#a-z-popup .az-link-wrapper a,
#search-popup .az-link-wrapper a {
    padding: 26px 46px;
}

.ie7 #uconn-banner .row-fluid>div,
.lt-ie8 #uconn-banner .row-fluid>div {
    display: block;
    float: left;
}

.ie7 #button-container,
.lt-ie8 #button-container {
    height: 46px !important
}

.lt-ie9 #uconn-banner .row-fluid {
    white-space: nowrap
}

.lt-ie9 #uconn-banner .row-fluid>div {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block
}

.lt-ie9 #button-container {
    width: 40%;
    padding-top: 14px
}

.lt-ie9 #home-link-container {
    line-height: 60px
}

.health #university-of-connecticut {
    letter-spacing: 4px;
    color: #fff;
    border-left: none;
    padding-left: 3px;
    display: inline;
}

#uconn-banner.alternative #uconn-header-container.health #uconn-search:hover+#uconn-az-tooltip:before,
#uconn-banner.alternative #uconn-header-container.health #uconn-search:focus+#uconn-az-tooltip:before,
#uconn-banner.alternative #uconn-header-container.health #uconn-az:hover+#uconn-az-tooltip:before,
#uconn-banner.alternative #uconn-header-container.health #uconn-az:focus+#uconn-az-tooltip:before {
    content: 'UConn Health A to Z Index'
}

#uconn-banner.alternative #uconn-header-container.health #uconn-search:hover+#uconn-search-tooltip:before,
#uconn-banner.alternative #uconn-header-container.health #uconn-search:focus+#uconn-search-tooltip:before,
#uconn-banner.alternative #uconn-header-container.health #uconn-header-container.health #uconn-az:hover+#uconn-search-tooltip:before,
#uconn-banner.alternative #uconn-header-container.health #uconn-az:focus+#uconn-search-tooltip:before {
    content: 'Search UConn Health'
}
/*END UCONN BANNER*/

/*NAV*/
/* header */
.nav-link{color:#fff!important; font-size: 1rem!important; font-family: "area-normal", serif;}
.header-level-two{font-family:proxima-nova,sans-serif;font-size:13px;letter-spacing:1px;text-transform:uppercase;margin-bottom:5px}
.header-level-one{font-family:proxima-nova,sans-serif;font-size:24px;font-weight:500}
.header-level-one a,.header-level-two a{color:#fff;text-decoration:none}
.nav-link:hover{color:var(--light-blue)!important}

.nav-link.active{color:var(--light-blue)!important;}

/*END OF NAV*/
/*FOOTER*/
.footer-link{color:#fff!important;padding:0px 20px;}
a.footer-link:hover{color:var(--light-blue)!important}

/*END OF FOOTER*/
/*button*/
.btn-arrow-slide{
    padding:0px;
    display: inline-block;
}

/* Override Bootstrap .btn styles when used with arrow slide */
.btn.btn-arrow-slide-cont,
.btn-arrow-slide-cont.btn {
  padding: 0;
  border: 0;
  background: transparent;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  border-radius: 0;
  box-shadow: none;
  text-align: left;
}

.btn.btn-arrow-slide-cont:hover,
.btn-arrow-slide-cont.btn:hover,
.btn.btn-arrow-slide-cont:focus,
.btn-arrow-slide-cont.btn:focus {
  background: transparent;
  border: 0;
  box-shadow: none;
}

/* Ensure wrapper doesn't interfere with button sizing */
.btn-arrow-slide {
  display: inline-block;
  width: auto;
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;
}

.btn-arrow-slide-cont {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  /* height: 3rem; */
  min-width: fit-content;
  overflow: hidden;
}

.btn-arrow-slide-cont:hover {
  background: transparent;
}

.btn-arrow-slide-circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  margin: 0;
  width: 3rem;
  height: 100%;
  border-radius: 1.625rem;
  z-index: 1;
}

.btn-arrow-slide-circle .btn-arrow-slide-icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.btn-arrow-slide-circle .btn-arrow-slide-icon.btn-arrow-slide-arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.btn-arrow-slide-arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid var(--black);
  border-right: 0.125rem solid var(--black);
  transform: rotate(45deg);
}

.btn-arrow-slide-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  padding: 8px 2rem 4px 4rem;
  margin: 0;
  margin-left:6px;
  font-weight: 700;
  line-height: 1.3;
  font-size: 16px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
  height: 100%;
  min-height: 3rem;
}

.btn-arrow-slide-cont:hover .btn-arrow-slide-circle {
  width: 100%;
  border-radius: 1.5rem;
}

/*white btn*/
.btn-arrow-slide-cont--white:hover .btn-arrow-slide-circle .btn-arrow-slide-icon.btn-arrow-slide-arrow {
  background: var(--black);
  transform: translateX(calc(100% + 0.5rem));
}

.btn-arrow-slide-cont--white:hover .btn-arrow-slide-text {
  color: var(--black);
}

.btn-arrow-slide-cont--white .btn-arrow-slide-circle {
  background: var(--white);
}

.btn-arrow-slide-cont--white .btn-arrow-slide-text {
  color: var(--white);
}

.btn-arrow-slide-cont--white .btn-arrow-slide-circle .btn-arrow-slide-icon {
  background: var(--white);
}

.btn-arrow-slide-cont--white .btn-arrow-slide-arrow::before {
  border-top: 0.125rem solid var(--black);
  border-right: 0.125rem solid var(--black);
}

/*blue btn*/
.btn-arrow-slide-cont--blue:hover .btn-arrow-slide-circle .btn-arrow-slide-icon.btn-arrow-slide-arrow {
  background: var(--white);
  transform: translateX(calc(100% + 0.5rem));
}

.btn-arrow-slide-cont--blue:hover .btn-arrow-slide-text {
  color: var(--white);
}

.btn-arrow-slide-cont--blue .btn-arrow-slide-circle {
  background: var(--blue);
}

.btn-arrow-slide-cont--blue .btn-arrow-slide-text {
  color: var(--blue);
}

.btn-arrow-slide-cont--blue .btn-arrow-slide-circle .btn-arrow-slide-icon {
  background: var(--blue);
}

.btn-arrow-slide-cont--blue .btn-arrow-slide-arrow::before {
  border-top: 0.125rem solid var(--white);
  border-right: 0.125rem solid var(--white);
}

/* --- Down Arrow Mod --- */
.btn-arrow-slide--down .btn-arrow-slide-icon.btn-arrow-slide-arrow {
  width: 0.125rem;
  height: 1.125rem;
  left: 1.4375rem; /* horizontally center inside 3rem circle (3rem / 2 - arrow width / 2) */
  top: 0%;
  transform: translateY(-30%);
  background: none;
}

.btn-arrow-slide--down .btn-arrow-slide-arrow::before {
  top: 40%;
  left: -0.25rem;
  width: 0.625rem;
  height: 0.625rem;

  transform: rotate(135deg); /* makes the arrow point down */
  transition: top 0.45s ease;
}

.btn-arrow-slide--down .btn-arrow-slide-cont--blue .btn-arrow-slide-arrow::before {
  border-top: 0.125rem solid var(--white);
  border-right: 0.125rem solid var(--white);
}

.btn-arrow-slide--down .btn-arrow-slide-cont--white .btn-arrow-slide-arrow::before {
  border-top: 0.125rem solid var(--black);
  border-right: 0.125rem solid var(--black);
}

/*end of btn*/

/*badges*/
.web-design-color {
    background-color: rgba(77, 179, 255, 0.25);
}

.ux-design-color {
    background-color: rgba(77, 255, 172, 0.25);
}

.app-development-color {
    background-color: rgba(255, 187, 77, 0.25);
}

.tech-support-color {
    background-color: rgba(255, 98, 77, 0.25);
}

.digital-consulting-color {
    background-color: rgba(77, 80, 255, 0.25);
}

.custom-tech-solutions-color {
    background-color: rgba(255, 77, 202, 0.25);
}

.service-badge {
    opacity: 0;
    transform: translate(0, 0);
    transition: transform 0.6s ease, opacity 0.6s ease;
}

.service-badge.aos-animate {
    opacity: 1;
    transform: translate(0, 0);
}

.service-badge.from-left {
    transform: translateX(-80px);
}

.service-badge.from-right {
    transform: translateX(80px);
}

.service-badge.from-top {
    transform: translateY(-80px);
}

.service-badge.from-bottom {
    transform: translateY(80px);
}

.service-badge.bg-secondary {
    background-color: #eee;
    color: #3a3a3a !important;
}

.service-badge {
    font-size: 0.8rem;
    padding: 0.3em 0.5em;
    border-radius: 5px !important;
    color: #3a3a3a;
}

.maps {
    height:100%;
}


/** Photo Scroller **/
.photo-scroller-image {
    border-radius: 20px;
}

.photo-box-effect {
  position: relative;
  display: inline-block;
}

.photo-box-effect::before {
  content: '';
  position: absolute;
  top: -20px;
  left: -20px;
  width: 100%;
  height: 100%;
  border: 2px solid white;
  border-radius: 22px; /* match card corners */
  z-index: -1; /* behind the image */
  display:block;
  box-sizing: border-box;
}



/** CSS Scroll Snapping **/
.scroll-snap-container {
    /* overflow-y: scroll; */
    scroll-snap-type: both mandatory;
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
    /* overscroll-behavior-y: contain; */
}

.scroll-snap-container section {
    scroll-snap-align: center;
    scroll-margin: 40px;
}

.roboto-mono {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
}

/*footer i3*/
.i3-footer{
    display:flex;
    align-items:center;
    justify-content: center;
}

.i3-footer p{
font-family: "area-normal", sans-serif;
font-weight: 400;
font-style: normal;
padding:10px 0px;
margin-bottom:0px;
}

.i3-footer a{
    font-family: "rockwell", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.i3-footer img{
    width:38px;
    margin:0px 5px;
}


.i3-footer .btn {
    --corner: 10px; /* the size on the corner */
    --thickness: 2px;  /* the thickness of the border */
    --gap: 6px; /* the gap between the border and image */
    
    padding: 9px 12px;
    outline-offset: calc(-1*var(--thickness));
    -webkit-mask:
      conic-gradient(at var(--corner) var(--corner),#0000 75%,#000 0)
      0 0/calc(100% - var(--corner)) calc(100% - var(--corner)),
      linear-gradient(#000 0 0) content-box;
    transition: .2s;
    cursor: pointer;
    text-decoration:none;
    display:flex;
    height:min-content;
    align-items:center;
    width:fit-content;
    margin:0px 5px;
    border-radius:0px;
}

.i3-footer .btn:hover {
    outline-offset: calc(var(--gap)/-1);
}

/* dark footer styles */

.i3-footer--dark p{
    color:#fff;
}

.i3-footer--dark a{
    color:#4DB3FF;
}

.i3-footer--dark .btn {
    outline: var(--thickness) solid #007EEF; /* the corner color */
}


@media(max-width: 1200px) {
  .mobile-scaledown {
    transform: scale(0.7);
    transform-origin: center;
  }
}

@media(max-width: 1000px) {
  .mobile-scaledown {
    transform: scale(0.6);
    transform-origin: center;
  }
}

@media(max-width: 768px) {
  .mobile-scaledown {
  transform: scale(0.5);
  transform-origin: center;
}
}



.z-1000 {
    z-index: 1000;
}

.stretched-link:empty:focus::after {
    outline: 0;
    border: 3px solid var(--blue);
}


.line-height-1_8 {
    line-height: 1.8;
}