:root{
--light-blue:#4DB3FF;
--white:#FFF;
--black:#111;
--dark:#180028;
--deep:#0e0f4b;
--teal:#0d3941;
--light:#f1f1f1;
--secondary:#ccc;
--bs-light-rgb: 255,255,255!important;
--bs-dark-rgb: 17,17,17!important;

}